.receommendation-main {
  background-color: #fff;
  color: #000;
  border-radius: 15px;
  padding: 32px 28px;
  text-align: center;
}

.recommendation-title {
  font-size: 14px;
  font-weight: 400;
  color: #ea7911;
}

.receommendation-main h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}

.recommendation-body {
  text-align: left;
  margin-top: 24px;
  line-height: 36px;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 19px;
}

.receommendation-main h4 {
  margin: 12px auto;
}

.recommendation-footer {
  opacity: 0.5;
  padding-bottom: 12px;
}

.recommend-image {
  min-width: 80px;
  border-radius: 50%;
  background-color: #fff;
}

.recommend-image img {
  width: 79px;
}

.carousel-indicators {
  display: flex;
  gap: 12px;
  margin-top: 30px;
}

.carousel-indicators button {
  /* border: 1px solid #000; */
  background-color: rgb(175, 170, 170);
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.carousel-indicators button.active {
  background-color: #ea7911;
  border: none;
}

.recommendation-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .receommendation-main {
    border-radius: 0;
    min-height: 500px;
  }

  .recommendation-content {
    flex-direction: column-reverse;
  }

  .recommendation-content > div {
    /* margin-left: 28px; */
    display: flex;
    text-align: left;
    gap: 24px;
  }

  .recommendation-content > p {
    margin: auto 6.5rem;
  }

  .carousel-indicators {
    position: relative;
    top: 400px;
    border: none;
  }

  .carousel-indicators:focus {
    border: none;
    outline: none;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;

    /* color: #000; */
    opacity: 1;

    /* position: relative; */

    /* background-color: #000; */
  }

  .receommendation-main > h2 {
    text-align: left;
    margin-left: 6.5rem;
  }

  .recommendation-content > div > div > img {
    position: relative;
    top: 50px;
    align-self: center;
  }
}
