.about-summary-main {
  border-top: 1px solid #888a94;
  padding: 5.5rem 0;
}

.summary-paragraph {
  line-height: 50px;
  margin: 0 2.5rem;
}

.about-summary-main h2 {
  text-align: center;
}

.see-more a {
  text-decoration: none;
  color: #ea7911;
}

.contact-info {
  margin-left: 3.438rem;
}

.contact-info span {
  margin-left: 2.5rem;
  font-weight: 300;
  font-size: 18px;
  opacity: 0.5;
}

.contact-info a {
  text-decoration: none;
  color: #fff;
}

.contact-info div {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 12px;
}

.contact-info div img {
  align-self:flex-start;
  width: 24px;
  display: block;
}

.hidden-desktop {
  display: inline;
}

.hidden-mobile {
  display: none;
}

.hidden {
  display: none;
}

@media (max-width: 420px) {
  .contact-info {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .hidden-desktop {
    display: none;
  }

  .hidden-mobile {
    display: block;
  }

  .summary-paragraph {
    margin: 0 2.5rem 2.5rem;
  }

  .about-summary-main {
    display: flex;
    margin: 0 110px 0 110px;
  }

  .about-content {
    flex-basis: 0;
    flex-grow: 1;
  }

  .pic-desktop {
    flex-basis: 0;
    flex-grow: 1;
  }

  .picFrame {
    width: 100%;
  }
}
