.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input,
.form textarea {
  background-color: #000;
  border: 1px solid rgba(191, 186, 186, 0.4);
  border-radius: 10px;
  padding: 32px;
}

.form textarea {
  margin-top: 36px;
  margin-bottom: 24px;
  color: #f4f2ef;
  font-size: 14px;
  font-weight: 400;
}

.form input {
  /* outline-color: #ea7911; */
  color: #fff;
}

.contact-main {
  margin-top: 100px;
}

.contact-main h4 {
  text-align: center;
  margin-bottom: 36px;
  font-size: 32px;
  font-weight: 500;
}

.contact-main button {
  font-size: 14px;
  font-weight: 400;
  background-color: #ea7911;
  color: #fff;
  padding: 10px;
  border-radius: 30px;
  width: 35%;
  margin-right: 12px;
  margin-left: auto;
  cursor: pointer;
}

.contact-main button:focus {
  outline: none;
}

.contact-main button:hover {
  background-color: #fff;
  border: 1px solid #ea7911;
  color: #ea7911;
}

.contact-main button:active {
  background-color: #ea7911;
  color: #fff;
}

.error-message {
  color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px rgb(226, 117, 117) solid;
  padding: 0 8px;
  margin: 0 0 24px 0;
  border-radius: 8px;
  max-width: 550px;
}

.cancel {
  margin: 0 0 0 auto;
  cursor: pointer;
  opacity: 0.7;
  padding: 0;
  font-weight: 600;
  display: inline;
}

.error-message p:last-child {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 16px 0;
  padding: 0;
}

.success-message {
  background-color: #166534;
  color: #dcfce7;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  margin: 0 0 24px 0;
  border-radius: 8px;
  max-width: 550px;
}

.success-message p:last-child {
  font-size: 14px;
  font-weight: 400;
}

.footer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.footer-content {
  display: flex;
  gap: 7%;
}

.footer-content p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
  margin: 0;
}

.footer-content a {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  opacity: 0.4;
}

.footer-content a:hover {
  text-decoration: none;
  color: #ea7911;
}

.footer img {
  align-self: flex-start;
}

.footer-content h6 {
  font-weight: 400;
  font-size: 12px;
  opacity: 0.4;
}

.social-handles {
  padding-bottom: 60px;
}

.footer-line {
  border-bottom: 1px solid #fff;
  opacity: 0.4;
  margin: 64px 0 32px 0;
}

.social-handles ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5%;  
  padding: 0;
}

@media (min-width: 768px) {
  .contact-section {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 80%;
    margin: auto;
  }

  .footer {
    gap: 20px;
    flex: 0 1 0;
    margin-top: 0;
  }

  .footer-content > img {
    align-self: center;
  }

  .form {
    flex: 1 1 0;
    max-width: 875px;
  }

  .contact-input {
    display: flex;
    gap: 18px;
    padding: 0;
  }

  .contact-main button {
    margin-right: auto;
    margin-left: 0;
    max-width: 226px
  }

  .contact-input > input {
    height: 48px;
    width: 100%;
    padding: 10px;
  }

  .form > textarea {
    width: 100%;
    height: 232px;
    margin-top: 20px;
  }

  .success-message,
  .error-message {
    position: relative;
    left: 0;
    animation: message;
    animation-duration: 1s;
    min-width: 30%; 
  }

  @keyframes message {
    from {position: relative; left: -300px;}
    to {position: relative; left: 0;}
  }
  
}
