.menu {
  background-color: rgb(15, 13, 13);
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: -100%;
  top: 69px;
  transition: 0.3s;
}

.menu.active {
  right: 0;
  opacity: 0.9;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  list-style: none;
  margin: 48px auto;
}

.menu-list a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
}

.menu-list a:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .menu {
    background-color: transparent;
    text-align: center;
    position: static;
    width: auto;
    height: auto;
    top: 0;
    right: 0;
    transition: none;
  }

  .menu-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
    list-style: none;
    margin: 24px 0 24px 0;
  }

  .menu-list a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    opacity: 0.5;
  }
}
