.project-main {
  text-align: center;
  margin-top: 60px;
}

.project-main h2 {
  font-weight: 600;
  font-size: 32px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  gap: 32px;
}
