.project-modal-container {
  position: fixed;
  top: 0;
  left: 12.5%;
  width: 80%;
  height: auto;
  background-color: rgba(255, 255, 255);
  z-index: 100;
  color: #000;
  margin: 20% auto 0 auto;
  border-radius: 5px;
}

.close-btn {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  width: 16px;
}

.close-btn div {
  border: 1px solid #000;
  width: 100%;
}

.close-btn div:first-child {
  transform: rotate(45deg) translate(2px, 2px);
}

.close-btn div:last-child {
  transform: rotate(-45deg) translate(2px, -2px);
}

.close-btn div:first-child:hover {
  transform: rotate(45deg) translate(2px, 2px);
  background-color: #ea7911;
}

.modal-head {
  display: flex;
  justify-content: space-between;

  /* align-items: center; */
}

.project-modal {
  margin: 40px 10% 40px 10%;
}

.project-modal button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.project-links {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.project-links a {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  background-color: #ea7911;
}

.project-modal ul {
  display: flex;
  list-style: none;
  gap: 2px;
  padding: 0;
  flex-wrap: wrap;
}

.project-modal ul li {
  padding: 4px;
  color: #fff;
  background-color: #ea7911;
  border-radius: 5px;
}

.project-snapshot {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.project-links em {
  margin-right: 6px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .project-modal-container {
    position: fixed;
    top: -23vh;
    left: 20%;
    width: 60%;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
  }

  .project-snapshot {
    width: 15%;
    display: inline;
    margin: 0 auto;
  }

  .project-modal {
    margin: 40px 20px 40px 20px;
  }

  .pic-desc {
    display: flex;
    gap: 20px;
  }

  .project-links {
    display: flex;
    justify-content: unset;
    gap: 12px;
    margin-top: 1rem;
  }

  .project-links a {
    border: 1px solid #ea7911;
  }

  .project-modal ul li {
    padding: 4px;
    color: #000;
    border: 1px solid #ea7911;
    background-color: transparent;
    border-radius: 5px;
  }
}
