.qualification-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-top: 80px;
}

.qualification-main h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 10px;
}

.educa {
  font-weight: 500;
  font-size: 24px;
  margin: 0 20px;
  line-height: 50px;
}

.qualifi {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.qualification {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 32px;
}

.qualification img {
  height: 120px;
  width: 15px;
}

.underline {
  border-bottom: 1px solid #fff;
  margin-bottom: 42px;
  margin-left: 20px;
}

.underline1 {
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
  margin-left: 20px;
  width: 127px;
}

.qualification h5 {
  font-size: 18px;
  font-weight: 500;
}

.qualification h4 {
  font-size: 18px;
  font-weight: 400;
}

.bullet-point p {
  flex-basis: 100%;
}

.qualification > div > p {
  font-weight: 400;
  font-size: 14px;
  color: #ea7911;
}

.experience {
  margin-top: 40px;
}

.bullet {
  height: 8px;
  width: 8px;
  background-color: #ea7911;
  transform: rotate(45deg);
  position: relative;
  top: 8px;
  align-self: flex-start;
}

.bullet-point {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  gap: 6px;
}

.line {
  opacity: 0.5;
  margin: 36px 0;
}

.hidden-desktop {
  display: block;
}

.hidden-mobile {
  display: none;
}

.experience-desc {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .edu-quali {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 0 auto;
  }

  .bullet-point {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 24px;
    flex-wrap: nowrap;
    gap: 6px;
  }

  .bullet {
    height: 8px;
    width: 8px;
    background-color: #ea7911;
    transform: rotate(45deg);
    position: relative;
    top: 14px;
    left: -14px;
    align-self: flex-start;
  }

  .jd-btn {
    cursor: pointer;
    font-size: 14px;
    padding: 8px;
    border-radius: 10px;
    color: #fff;
    outline: none;
    background-color: #ea9711;
    margin-top: 24px;
    transition: all 0.5s ease-in-out;
  }

  .jd-btn:focus {
    border: none;
    outline: none;
  }

  .jd-btn:hover {
    color: #ea7911;
    background-color: #fff;
    border: 1.5px solid #ea7911;
  }

  .jd-btn:active {
    color: #fff;
    background-color: #ea7911;
  }

  .experience-desc {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .qualifications {
    flex: 1 1 0;
  }

  .hidden-desktop {
    display: none;
  }

  .hidden-mobile {
    display: block;
  }

  .experience {
    margin-top: 0;
    flex: 1 1 0;
  }
}
